---
layout: default
title: Projects
permalink: /projects/
---

<div class="posts">
  <h1 class="content-subhead">Projects</h1>
</div>

<div class="posts">
{% for slug in site.data.ordered_project_slugs %}
  {% assign project = site.projects | where: 'slug', slug | first %}
    <section class="post">
      <header class="post-header">
          <h2 class="post-title" id="{{ project.title | slugify }}">
            {{ project.title }}
            <a href="#{{ project.title | slugify }}" class="header-link"><i class="fa fa-link"></i></a>
          </h2>
          {% if project.tags %}
            <!-- <p class="post-meta">Posted in {{ project.date | date: '%B %Y' }} in {{ project.tags | array_to_sentence_string }}</p> -->
          {% endif %}

          {% if project.role %}
            <p class="post-meta">Role: {{ project.role }}</p>
          {% endif %}
      </header>

      <div class="post-description">
        <p>
          {% if project.image %}
            <img src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.title }}" class="thumbnail pure-hidden-xs">
          {% endif %}

          {{ project.content }}
        </p>
      </div>
    </section>
{% endfor %}
</div>

<p>More projects and other open source contributions are avaialable on <a href="https://github.com/timwis">GitHub</a>.</p>
