---
layout: default
title: Projects
permalink: /projects/
---

<div class="posts">
  <h1 class="content-subhead">Projects</h1>
</div>

{% for project in site.projects %}
  <div class="posts">
    <section class="post">
      <header class="post-header">
          <h2 class="post-title">{{ project.title }}</h2>
          {% if project.tags %}
            <p class="post-meta">Posted in {{ project.tags | array_to_sentence_string }}</p>
          {% endif %}
      </header>

      <div class="post-description">
        <p>
          {% if project.image %}
            <img src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.title }}" class="thumbnail pure-hidden-xs">
          {% endif %}

          {{ project.content }}
        </p>
      </div>
    </section>
  </div>
{% endfor %}
