---
layout: default
title: Projects
permalink: /projects/
---

<div class="posts">
  <h1 class="content-subhead">Projects</h1>
</div>

{% assign projects = site.projects | sort:'date' %}
{% for project in projects reversed %}
  <div class="posts">
    <section class="post">
      <header class="post-header">
          <h2 class="post-title" id="{{ project.title | slugify }}">
            {{ project.title }}
            <a href="#{{ project.title | slugify }}" class="header-link"><i class="fa fa-link"></i></a>
          </h2>
          {% if project.tags %}
            <p class="post-meta">Posted in {{ project.date | date: '%B %Y' }} in {{ project.tags | array_to_sentence_string }}</p>
          {% endif %}
      </header>

      <div class="post-description">
        <p>
          {% if project.image %}
            {% if project.links %}
              {% assign link = project.links[0] %}
              <a href="{{ link.url }}">
            {% endif %}
            <img src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.title }}" class="thumbnail pure-hidden-xs">
            {% if project.links %}
              </a>
            {% endif %}
          {% endif %}

          {{ project.content }}
          
          {% if project.links %}
            <ul>
            {% for link in project.links %}
              <li>
                <a href="{{ link.url }}">{{ link.text }}</a>{% if link.suffix %}, {{ link.suffix }}{% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </p>
      </div>
    </section>
  </div>
{% endfor %}
