<div class="header">

  <a href="{{ site.baseurl }}/img/IMG_1057.JPG">
    <img src="{{ site.baseurl }}/img/IMG_1057.JPG" alt="Tim Wisniewski" class="post-avatar">
  </a>

  <h1 class="brand-title">{{ site.title }}</h1>
  <h2 class="brand-tagline">{{ site.description }}</h2>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="pure-button" href="{{ " / " | prepend: site.baseurl }}">About</a>
      </li>
      <li class="nav-item">
        <a class="pure-button" href="{{ " /projects/ " | prepend: site.baseurl }}">Projects</a>
      </li>
    </ul>
  </nav>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="https://twitter.com/timwis" class="pure-button button-xsmall"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item">      
        <a href="https://github.com/timwis" class="pure-button button-xsmall"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item">      
        <a href="http://codepen.io/timwis" class="pure-button button-xsmall"><i class="fa fa-codepen"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://linkedin.com/in/timwis" class="pure-button button-xsmall"><i class="fa fa-linkedin"></i></a>
      </li>
  </nav>
</div>